.header{

    background-color: olive;
    display:flex;
    width: 100vw;
    height: 20vh    ;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6% 2% 6%;
    border-bottom: 1px solid white  ;
    /* padding: 0px 100px 0px 100px; */
}


.header h1{
    color: white;
    display: flex;
    /* margin-left: 6%; */
    /* font-size:2.0rem; */
    font-size:1.5rem;

    margin-bottom: 2.3vw;
    font-family: 'Montserrat Alternates', sans-serif;


}
a,a:active{
    text-decoration: none;
    color: #fff;
 }

  
.header nav ul{
    display: flex;
    flex-direction: row-reverse;
    width:fit-content;
    height: fit-content;
    gap:3%;
    /* background-color: antiquewhite; */
    margin-top: 3%;
    /* margin-right: 50vh; */
    margin-bottom: 3.5vw;

}
.header nav ul input{
    display: flex;
    height: 8vh;
    width: 25vw;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    color: rgba(19, 19, 19, 0.938);
}
 .header nav ul input::-webkit-search-cancel-button{
    position: relative;
   
    -webkit-appearance: none;
    
} 
#frase-gandhi{
    margin-bottom: 2vw;
    color: #fff;
    padding-bottom: 1.3%;
}
#frase-gandhi h2{
    font-size: 1.2rem;
    
    
}
#frase-gandhi p{
    display:flex;
    padding-left: 28%;
    font-size: 100%;
}
#logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor:pointer;
}

